    h1, h2 { 
        font-family: $header; 
        text-transform: uppercase;
        line-height: 1.1;
        margin-bottom: 1em;
    }
    h1 {
        font-size: 2em;
        margin-top: 1em;
    }
    h2 {
        font-size: 1.5em;
    }
    p {
        font-family: $paragraph;
        line-height: 1.5333;
        margin-bottom: 1em;
        &:last-of-type {
            margin-bottom: 3em;
        }
    }