/* Colours */

$blue: #00adef;
$black: #000000;
$white: #FFFFFF;
$lt-grey: #CCCCCC;

/* Break Points */

$bp-s: 400px;
$bp-m: 720px;
$bp-l: 900px;
$bp-xl: 1200px;

/* Fonts */

$header: VanCondensedPro;
$paragraph: "chaparral-pro", sans-serif;
$logo: "proxima-nova-alt", sans-serif;