@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "susy";

@import "variables";
@import "fonts";

$susy: (
    container: 1100px,
    columns: 4,
    global-box-sizing: border-box,
);

$map-l: (
    columns: 6
);

$map-xl: (
    columns: 12
);

@include border-box-sizing;

*, body {
    position: relative;
}

a {
    text-decoration: none;
    color: $blue;
}

header {
    @include clearfix;
}

.site-menu {
    position: fixed;
    top: 0;
    right: 0;
    font-family: $header;
    color: $white;
    text-transform: uppercase;
    padding: 1.5em .75em;
    background-color: $black;
    z-index: 1000;
    a {
        color: $white;
    }
}

a.early-bird-head {
    @include span(3 of 4 last);
    text-align: center;
    font-family: $header;
    font-size: 1.2em;
    color: $white;
    text-transform: uppercase;
    background-color: $blue;
    padding: 1em;
    height: 2.8em;
}

.site-logo {
    @include span(1 of 4);
    .site-logo__text {
        display: none;
    }
    svg {
        fill: $blue;
    }
}

.grid {
    @include container;
    @include clearfix;
    padding: 1em;
}

img.arrow {
    display: none;
}

/* Mobile styles */

.page-head--desktop {
    display: none;
}

.grid-item--60 {
    text-align: center;
}

a.site-logo {
    text-align: center;
    svg {
        max-width: 3em;
        display: block;
        margin: .5em 1em 3em .5em;
    }
    h1.site-logo__text {
        display: block;
        width: 100vw;
        text-align: center;
        font-family: $logo;
        font-weight: 700;
        font-size: 1.5em;
        margin: 0 auto;
    }
}

h1.headline-intro__details__title {
    margin: 0;
}

h1.headline-intro__details__title, h2.dates {
    text-align: center;
    span {
        display: block;
    }
}

ul.headline-intro__list {
    font-family: $paragraph;
    font-weight: 700;
    line-height: 1.5333;
    margin-bottom: 1em;
    margin-left: 1em;
    text-align: left;
    li {
        margin-bottom: .8em;
        &:last-child {
            margin-bottom: 0;
        }
        &::before {
            content: url(../img/star.png);
            margin-right: 1em;
            display: block;
            float: left;
        }
    }
}

/* Form */

#mc_embed_signup, #mc_embed_signup_scroll {
    @include clearfix;
}

span.asterisk {
    color: red;
    font-size: 1.4em;
}

form {
    border-top: 1px solid $black;
    padding-top: 2em;
    font-family: $paragraph;
    label.hidden {
        display: none;
    }
    input.form-field {
        display: block;
        width: 100%;
        padding: .8em;
        font-size: 1em;
        font-family: $paragraph;
        margin-bottom: 1em;
        margin-top: .5em;
        color: $lt-grey;
        border: 1px solid $lt-grey;
        border-radius: .2em;
    }
}
.label--select {
    display: inline-block;
    float: left;
    padding-top: 1em;
}
.form-field--select {
    display: inline-block;
    float: left;
    width: 50%;
    padding: .8em;
    height: 40px;
    margin: 0 1em 2em 1em;
    background-color: $lt-grey;
    border-radius: 0;
    border: none;
}
.form-button--submit {
    display: block;
    padding: .8em 1.2em;
    clear: both;
    background-color: $black;
    color: $white;
    font-family: $header;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 0;
    border: none;
    &:focus, &:hover {
        background-color: $blue;
    }
}
.indicates-required {
    margin-bottom: 1em;
    font-weight: 700;
}

/* Tablet styles */

@media (min-width: $bp-m) {
    
    header {
        height: auto;
    }
    
    .grid {
        padding: 2em;
    }
    
    .page-head--mobile {
        display: none;
    }
    
    .page-head--desktop {
        display: block;
        padding-top: 0;
    }
    
    .headline-intro__logo {
        display: block;
    }
    
    a.early-bird-head {
        @include span(2 of 4 last);
    }
    
    a.site-logo {
        @include span(2 of 4);
        height: auto;
        text-align: left;
        svg {
            display: inline-block;
            float: left;
            margin-bottom: 0;
        }
        h1.site-logo__text {
            margin-top: .5em;
            font-size: 1.3em;
        }
        span {
            display: block;
            text-align: left;
        }
    }
    
    p, ul {
        font-size: 1.2em;
    }
    
    img.headline-intro__image {
        @include span(2 of 4);
    }
    
    h1.headline-intro__details__title {
        @include span(2 of 4 last);
        text-align: left;
        font-size: 3em;
        margin-top: 1.5em;
        margin-bottom: .5em;
    }
    
    h2.dates {
        text-align: left;
        span {
            display: block;
        }
    }
    
    section {
        text-align: left;
        &.first {
            clear: both;
        }
    }
    
    .form {
        .signup-title {
            @include span(1 of 4);
        }
        fieldset {
            @include span(3 of 4 last);
        }
    }
    
    .form-button--submit {
        display: inline-block;
        width: 8em;
    }    
    
}

/* Desktop styles */

@media (min-width: $bp-l) {
    @include layout($map-l);
    
    a.site-logo {
        @include span(2 of 6);
    }
    
    a.early-bird-head {
        @include span(2 of 6);
        font-size: 1.3em;
    }
    
    .site-menu {
        font-size: 1.3em;
    }
    
    h2.dates {
        line-height: 1.3;
    }
    
    img.headline-intro__image {
        @include span(2 of 6);
    }
    
    h1.headline-intro__details__title {
        @include span(4 of 6 last);
        margin-top: .5em;
        span {
            display: block;
        }
    }

    section.first, section.second {
        @include span(4 of 6 last);
        margin-left: span(2);
    }
    
    section.first {
        margin-top: -1em;
    }
    
    section.form-signup {
        clear: both;
        img.arrow {
            @include span(1 of 6);
            margin-left: span(1);
            margin-top: -5em;
            display: block;
        }
        .form {
            @include span(4 of 6 last);
        }
    }
    
}

/* XL styles */

@media (min-width: $bp-xl) {
    @include layout($map-xl);
    
    @media (min-width: 1300px) {
        .site-menu {
            margin-right: span(1);
        }
    }
    
    a.site-logo {
        @include span(5 of 12);
    }
    
    a.early-bird-head {
        @include span(3 of 12 );
    }
    
    img.headline-intro__image {
        @include span(5 of 12);
    }
    
    h1.headline-intro__details__title {
        @include span(7 of 12 last);
        margin-top: 2.5em;
    }
    
    section.first, section.second {
        @include span(7 of 12 last);
        margin-left: span(5);
    }
    
    section.first {
        margin-top: 0;
    }
    
    section.form-signup {
        .form {
            @include clearfix;
            @include span(9 of 12 last);
            .signup-title {
                @include span(2 of 9);
            }
            fieldset {
                @include span(7 of 9 last);
            }
        }
        img.arrow {
            @include span(2 of 12);
            margin-left: span(1);
        }
    }
    
}





