html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* Colours */
/* Break Points */
/* Fonts */
h1, h2 {
  font-family: VanCondensedPro;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 1em; }

h1 {
  font-size: 2em;
  margin-top: 1em; }

h2 {
  font-size: 1.5em; }

p {
  font-family: "chaparral-pro", sans-serif;
  line-height: 1.5333;
  margin-bottom: 1em; }
  p:last-of-type {
    margin-bottom: 3em; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, body {
  position: relative; }

a {
  text-decoration: none;
  color: #00adef; }

.page-grid {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  *zoom: 1;
  padding: 1em; }
  .page-grid:after {
    content: " ";
    display: block;
    clear: both; }

img.arrow {
  display: none; }

/* Mobile styles */
.page-head--desktop {
  display: none; }

h1.main-title {
  margin: 0; }

h1.main-title, h2.dates {
  text-align: center; }
  h1.main-title span, h2.dates span {
    display: block; }

ul.main__list {
  font-family: "chaparral-pro", sans-serif;
  font-weight: 700;
  line-height: 1.5333;
  margin-bottom: 1em;
  margin-left: 1em;
  text-align: left; }
  ul.main__list li {
    margin-bottom: .8em; }
    ul.main__list li:last-child {
      margin-bottom: 0; }
    ul.main__list li::before {
      content: url(../img/star.png);
      margin-right: 1em;
      display: block;
      float: left; }

/* Form */
#mc_embed_signup, #mc_embed_signup_scroll {
  overflow: hidden;
  *zoom: 1; }

span.asterisk {
  color: red;
  font-size: 1.4em; }

form {
  border-top: 1px solid #000000;
  padding-top: 2em;
  font-family: "chaparral-pro", sans-serif; }
  form label.hidden {
    display: none; }
  form input.form-field {
    display: block;
    width: 100%;
    padding: .8em;
    font-size: 1em;
    font-family: "chaparral-pro", sans-serif;
    margin-bottom: 1em;
    margin-top: .5em;
    color: #CCCCCC;
    border: 1px solid #CCCCCC;
    border-radius: .2em; }

.label--select {
  display: inline-block;
  float: left;
  padding-top: 1em; }

.form-field--select {
  display: inline-block;
  float: left;
  width: 50%;
  padding: .8em;
  height: 40px;
  margin: 0 1em 2em 1em;
  background-color: #CCCCCC;
  border-radius: 0;
  border: none; }

.form-button--submit {
  display: block;
  padding: .8em 1.2em;
  clear: both;
  background-color: #000000;
  color: #FFFFFF;
  font-family: VanCondensedPro;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 0;
  border: none; }
  .form-button--submit:focus, .form-button--submit:hover {
    background-color: #00adef; }

.indicates-required {
  margin-bottom: 1em;
  font-weight: 700; }

/* Tablet styles */
@media (min-width: 720px) {
  .page-grid {
    padding: 2em; }

  img.main__image {
    width: 47.36842%;
    float: left;
    margin-right: 5.26316%; }

  h1.main-title {
    width: 47.36842%;
    float: right;
    margin-right: 0;
    text-align: left;
    font-size: 3em;
    margin-top: 1.5em;
    margin-bottom: .5em; }

  h2.dates {
    text-align: left; }
    h2.dates span {
      display: block; }

  section {
    text-align: left; }
    section.first {
      clear: both; }

  .form .signup-title {
    width: 21.05263%;
    float: left;
    margin-right: 5.26316%; }
  .form fieldset {
    width: 73.68421%;
    float: right;
    margin-right: 0; }

  .form-button--submit {
    display: inline-block;
    width: 8em; } }
/* Desktop styles */
@media (min-width: 900px) {
  a.site-logo {
    width: 31.03448%;
    float: left;
    margin-right: 3.44828%; }

  a.early-bird-head {
    width: 31.03448%;
    float: left;
    margin-right: 3.44828%;
    font-size: 1.3em; }

  .site-menu {
    font-size: 1.3em; }

  h2.dates {
    line-height: 1.3; }

  img.main__image {
    width: 31.03448%;
    float: left;
    margin-right: 3.44828%; }

  h1.main-title {
    width: 65.51724%;
    float: right;
    margin-right: 0;
    margin-top: .5em; }
    h1.main-title span {
      display: block; }

  section.first, section.second {
    width: 65.51724%;
    float: right;
    margin-right: 0;
    margin-left: 31.03448%; }

  section.first {
    margin-top: -1em; }

  section.form-signup {
    clear: both; }
    section.form-signup img.arrow {
      width: 13.7931%;
      float: left;
      margin-right: 3.44828%;
      margin-left: 13.7931%;
      margin-top: -5em;
      display: block; }
    section.form-signup .form {
      width: 65.51724%;
      float: right;
      margin-right: 0; } }
/* XL styles */
@media (min-width: 1200px) {
  img.main__image {
    width: 40.67797%;
    float: left;
    margin-right: 1.69492%; }

  h1.main-title {
    width: 57.62712%;
    float: right;
    margin-right: 0;
    margin-top: 2.5em; }

  section.first, section.second {
    width: 57.62712%;
    float: right;
    margin-right: 0;
    margin-left: 40.67797%; }

  section.first {
    margin-top: 0; }

  section.form-signup .form {
    overflow: hidden;
    *zoom: 1;
    width: 74.57627%;
    float: right;
    margin-right: 0; }
    section.form-signup .form .signup-title {
      width: 20.45455%;
      float: left;
      margin-right: 2.27273%; }
    section.form-signup .form fieldset {
      width: 77.27273%;
      float: right;
      margin-right: 0; }
  section.form-signup img.arrow {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
    margin-left: 6.77966%; } }
